.peakLabel {
  font: 1em serif;
  text-align: left;
  transform-origin: top left;
  transform: rotate(-60deg) translate(+0.2em, -1.0em);
  white-space: nowrap;
  overflow-x: visible;
  background-color: light-dark(white, black);
}
.peakStroke {
  border-left: 1px solid light-dark(black, white);
  height: 2em;
  min-width: 0px;
}
.labelContainer {
}
