.peakLabel {
  font: 1em serif;
  text-align: left;
  transform-origin: top left;
  transform: rotate(-60deg) translate(+0.2em, -1.0em);
  background-color: white;
  white-space: nowrap;
  overflow-x: visible;
}
.peakStroke {
  border-left: 1px solid black;
  height: 2em;
  width: 0px;
}
.labelContainer {
}
